# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\onedrive-shnu\OneDrive - smail.shnu.edu.cn\TUNION_SERVLET_WEB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
